.config/gtk-3.0/gtk.css
.config/gtk-4.0/gtk.css
.config/Kvantum/pywal/pywal.kvconfig
.config/Kvantum/pywal/pywal.svg
.config/presets/user/pywal.json
.config/waypaper/config.ini
.config/gtk-3.0/gtk.css
.config/gtk-3.0/gtk.css.bak
.config/gtk-4.0/gtk.css
.config/gtk-4.0/gtk.css.bak
.config/Kvantum/pywal/pywal.kvconfig
.config/Kvantum/pywal/pywal.svg
.config/presets/user/pywal.json
/.config/Code
/.config/GitHub Desktop
/.config/thorium
/.local/share/containers
/.local/share/Trash
/.local/state/nvim
/.local/state/wireplumber
/.config/pulse
/.local/share/applications
/.local/share/flatpak
/.local/share/nvim
.local/share/recently-used.xbel
.config/dconf/user
/.config/dconf
/.config/dconf
/.config/dconf
.config/qt6ct/qt6ct.conf
.config/dconf/user
.config/qt5ct/qt5ct.conf
/.config/dconf
/.config/qt6ct
/.local/share/sddm
/.local/share/keyrings
/.local/share/gvfs-metadata
/.config/qt6ct
.config/qt6ct/qt6ct.conf
